body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    background-color: #3a3735;
}

.container {
    color: #b8bb26;
    max-width: 500px;
    margin: 50px auto;
    background-color: #282828;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#todo-form {
    display: flex;
}

#todo-input {
    flex: 1;
    padding: 10px;
    padding-right: 50px; /* Space for button */
    border: 2px solid #b8bb26;
    border-radius: 10px;
    outline: none;
    position: relative;
    z-index: 1; /* To ensure the input stays above the pseudo-elements */
}

#todo-form button {
    padding: 10px;
    border: 2px solid #b8bb26;
    background-color: #b8bb26;
    color: #fff;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    z-index: 2; /* Ensure it stays above the pseudo-elements */
}

#todo-form button:hover {
    background-color: #d12f2c;
    border-color: #d12f2c;
}
#todo-list {
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

#todo-list button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
}

.toggle-check {
    position: relative;
    background-color: transparent;
    border: none;
    color: #28a745;
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

/* Tooltip container */
.toggle-check::after {
    content: attr(
        data-tooltip
    ); /* This uses the data-tooltip attribute as the tooltip text */
    position: absolute;
    bottom: 150%; /* Position the tooltip above the button */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.3s,
        visibility 0.3s;
    white-space: nowrap;
    z-index: 100;
    font-size: 0.8rem;
}

/* Tooltip arrow */
.toggle-check::before {
    content: "";
    position: absolute;
    bottom: 100%; /* Positioned at the bottom of the tooltip */
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #333 transparent;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.3s,
        visibility 0.3s;
}

/* Show the tooltip on hover */
.toggle-check:hover::after,
.toggle-check:hover::before {
    opacity: 1;
    visibility: visible;
}
